* {
  box-sizing: border-box;
}
.Login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signForm {
  display: flex;
  flex-direction: column;
}

.loginBox {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.username {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: rgba(0,0,0,0.1);
}

.password {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: rgba(0,0,0,0.1);
}

.loginBtn {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 80px;
}

.signBtn {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 80px;
}

.submit {
  margin: 25px 0;
  padding: 10px 20px;
  border: none;
  width: 150px;
  border-radius: 5px;
  color: white;
  background-color: black;
  font-weight: bolder;
  cursor: pointer;
}

.submit:hover {
  background-color: rgba(0,0,0,0.5);
  color: white;
}

.ActiveBtn {
  background-color: black;
  color: white;
}

.loginblock {
  width: 95%;
  height: 95%;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.1);
  position: fixed;
  bottom: 0;
  left: 0;
  border-top-right-radius: 20px;
  display: flex;

}

.loginleft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  width: 50%;
  background-color: red;
  padding: 200px;
  color: white;
}

.loginright {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

label {
  font-weight: 100;
  font-size: small;
}

.optionblock {
  width: 90%;
  height: 90%;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signupBlock {
  width: 95%;
  height: 95%;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.1);
  position: fixed;
  bottom: 0;
  right: 0;
  border-top-left-radius: 20px;
  display: flex;
}


.leftBorder {
  border-top-left-radius: 20px;
}

.loginLink {
  color: rgba(255,255,255,0.7);
}

.alreadyUser {
  color: rgba(255,255, 255,0.7);
}

.logoImage {
  width: 300px;
  height: auto;
}

.logoName {
  font-family: 'Lora', serif;
}

.optionBtn {
  cursor: pointer;
}

.optionBtn:hover {
  color: black;
  border: none;
  background-color: rgba(0,0,0,0.1);
}

.jobseekerImg {
  width: 10%;
  height: auto;
}

.profileHead {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}


@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Poppins&display=swap');
.imglogo{
  height:60px;
  width:60px;
  border-radius: 50%;
  border:2px solid brown;
  /* color:#663726 */

}
.body{
  min-height: 100vh;
  background: linear-gradient(to bottom right, rgb(235, 212, 170), rgb(241, 168, 168), rgb(250, 250, 164));
}
nav {
  width: 100%;
  background-color: #f99552;
  box-shadow: 0px 2px 74px #0f0e0e33; 
}
.heading{
  margin-left: 20px;
  font-weight: bold;
  font-size: 24px !important;
  font-style: italic !important

}
.user{
  width:65px;
  height:65px;
  border-radius: 50%;
}

.headcontent{
  font-weight: bold !important;
  font-size: 16px !important;
  color:rgba(0, 0, 0, 0.713) !important;
  font-family: 'Poppins', sans-serif  !important;
}

.mainlogo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh; 
}

.mainlogo{
  height:400px;
  width:600px;
  border-radius: 50%;
}
.maincontent{
  align-items: center;
  justify-content: center;
}
.maintagline{
  font-family: 'Poppins', sans-serif  !important;
  font-weight: bold;
}
.mainpara{
  font-style: italic;
  color:rgb(75, 67, 67);
}
.card{
  padding: 30px;
  box-shadow: 0px 2px 44px #df959533; 
}
.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.testimonial-card .avatar {
  width: 110px;
  margin-top: -60px;
  overflow: hidden;
  border: 3px solid #fff;
  border-radius: 50%;
}
.footer{
  bottom:0;
  height:80px;
  background-color: rgb(255, 255, 255);
}
.fcontent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link{
}